* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #769656;
    --color-secondary: #eeeed2;
    --color-white: #ffffff;
    --color-black: #000000;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color-dark {
    background-color: var(--color-primary);
}

.color-light {
    background-color: var(--color-secondary);
}

.color-highlight {
    background-color: #d5d51a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 6px;
    width: calc(560px + 6px);
    height: calc(560px + 6px);
    border: 3px solid var(--color-black);
    grid-template-columns: repeat(8, 1fr);
}

.square {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank-style {
    width: 560px;
    height: 70px;
    display: flex;
}

.square img {
    width: 100%;
    cursor: pointer;
}

.circle {
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
